<% if check_delegate %>
  <% for notice in @notices %>
    <div class="panel panel-default">
      <div class="panel-body <%= notice.color %>">
        <p style="font-size: 190%"><b>Title: </b><%= notice.title %></p>
        <span style="font-size: 120%"><b>Description: </b><%= notice.body %></span>
        <p style="font-size: 120%; text-align: right"><%= raw tag_links notice.all_tags %></p>
        <%= current_user_do link_to '', edit_notice_url(notice),  class: "glyphicon glyphicon-edit" %>
        <%= current_user_do link_to '', notice, method: :delete,
                    data: { confirm: 'Are you sure?'  }, class: "glyphicon glyphicon-remove", style: "float: right" %>
      </div>
    </div>
  <% end %>
<% end %>