<div class="row">
  <div class="col-xs-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="center-block" style="text-align: center;">
            <%= avatar_for(@user) %>
        </div>

        <div class="center-block" style="text-align: center;">
            <%= @user.username %><br>
            <%= current_user_do link_to 'Edit', edit_user_path(@user)  %>
        </div>
      </div>
    </div>

    <%= render 'user_list' %>
  </div>

  <div class="col-xs-7">
    <div class="panel panel-default">
      <%= render 'notices/notice' %>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="panel panel-default" style="text-align: center">
      <h4>Categories</h4>
      <%= render 'categories/categories' %>
      <%= current_user_do render 'categories/add_category' %><br>
    </div>

    <%= render 'tags/tags' %>

  </div>

</div>