<nav class="navbar navbar-default">
  <div class="container">
    <%= link_to 'NoticeApp', root_path, class: "navbar-brand" %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Write Notice', new_notice_path %></li>
      <% if user_signed_in? %>
          <li><%= link_to(avatar_for(current_user, size: '25x25'), current_user) %></li>
          <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
      <% else %>
          <li style="margin-top: 15px"><b><%= link_to 'Sign in', new_user_session_path %> / <%= link_to 'Sign up', new_user_registration_path %></b></li>
      <% end %>
    </ul>
  </div>
</nav>